/* :root CSS Rule */
:root{
--padding: 10px;
--border: 1px solid rgba(0, 0, 0, 0.1);
--margin: 1rem;
}

nav {
    background-color: steelblue;
    padding: var(--padding);
    margin: var(--margin);
}

nav a {
    color: white;
    display: block;
    padding: var(--padding);
}

h1 {
    color: steelblue;
    padding: var(--padding);
}

main img {
    width: 150px;
    height: auto;
    border: var(--border);
    margin: var(--margin);
    padding: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 20px gray;
}

p { padding: var(--padding);
}

main {
    max-width: 840px;;
}

aside {
    width: 20rem;
    margin: var(--margin);
    border: var(--border);
    padding: 1rem;
    background-color: #eee;
    color: #333;
}

aside h2 {
    padding: var(--padding);
}

aside img {
    width: 200px;
    height: auto;
    padding: var(--padding);
}

footer {
    margin-top: 15px;
    border-top: var(--border);
    text-align: center;
}
